.btn {
  box-shadow: 0 5px 10px rgba(0,0,0,0.015);
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 15px;
  height: 40px;
  width: 40px;
  outline: none !important;
}
.btn.btn-press{
  border: solid 3px rgba(0,0,0,0.25);
}
.btn.btn-nopress {
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.btn:hover{
  border: solid 3px #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}
.btn:focus,
.btn:focus {
  outline: none !important;
}

.cnt {
  position: absolute;
  right: 115px;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 6px;
  padding-top: 6px;
  background: blue;
}
.cnt .cntPckd {
  color: black;
}
.colorPicker-box {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: auto;
}
.palette-box {
  padding: 0px;
  margin-top: 20px;
  height: auto;
  width: 100%;
}
