.btn {
  box-shadow: 0 5px 10px rgba(0,0,0,0.015);
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 15px;
  height: 40px;
  width: 40px;
  outline: none !important;
}
.btn.btn-press {
  box-shadow: none;
  border: solid 3px rgba(0,0,0,0.35);
}
.btn.btn-nopress {
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.btn:hover{
  border: solid 3px #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}
.btn:focus,
.btn:focus {
  outline: none !important;
}

.cnt {
  position: absolute;
  right: 115px;
  bottom: -2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.10);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.15);
  margin: 0;
}
.cntLimit {
  background: green;
  color: white !important;
}
.colorPicker-box {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 100%;
}
.palette-box {
  padding: 0px;
  margin-top: 20px;
  padding-bottom: 15px;
  height: auto;
  width: 100%;
}
.chosenTitle {
  margin-top: 30px;
}
