.mainHeader {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: red;
  font-family: 'Gurajada';

  background: rgb(39,70,196);
  background: -moz-linear-gradient(90deg, rgba(39,70,196,1) 0%, rgba(102,194,175,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(39,70,196,1) 0%, rgba(102,194,175,1) 100%);
  background: linear-gradient(90deg, rgba(39,70,196,1) 0%, rgba(102,194,175,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2746c4",endColorstr="#66c2af",GradientType=1);
}
